@model IEnumerable<EmpleatMySql.Models.Empleat>
@{
    ViewBag.Title = "Empleats";
}
<h2>Empleats</h2>
<p>
    <a asp-area="" asp-controller="Empleat" asp-action="AddEmpleat">Nou Empleat</a>
</p>
<table class="table">
    <tr>
        <th>Empleat ID</th>
        <th>Nom</th>
        <th>Cognom</th>
        <th>Càrrec</th>
        <th>Sou</th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Nom)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Cognom)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Càrrec)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Sou)
    </td>
    <td>
        <a asp-page="/EditEmpleat" asp-route-id="@item.Id">Edit</a> |
        <a asp-controller="Empleat" onclick="return confirm('Are you sure you want to delete this item?');" asp-action="DeleteEmpleat" asp-route-id="@item.Id">Delete</a>
    </td>
</tr>
    }
</table>
